* {
  margin: 0;
  padding: 0;
}

.pageHeader, .pageFooter {
  height: 10vh;
  background-color: #cec288;
  display: flex;
  align-items: center;
}

.pageTitle {
  font-family: 'Akshar', sans-serif;
}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70vw;
  background-color: #f7f6f6;
}

.sideBar {
  width: 15vw;
  height: 80vh;
}

.content {
  display: flex;
}

.registerForm {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-style: solid;
  border-color: #aa671d;
}

.registerTitle {
  color: #aa671d;
  font-size: 2.5vw;
  text-align: center;
  height: 10%;
  position: relative;
  top: -2%;
}

.registerTable {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 5%;
}

.registerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label, input {
margin: 15px;
font-family: 'Akshar', sans-serif;
font-weight: bold;
font-size: 18px;
}

input {
  font-weight:normal;
  border-style: solid;
  border-color: #aa671d;
}

.registerBtn{
width: 30%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
margin-left: 35%;
margin-right: 35%;
margin-top: 10%;
font-family: 'Akshar', sans-serif;
font-weight: bold;
font-size: 18px;
background-color: white;
border-style: solid;
border-color: #aa671d;
position: relative;
bottom: 10%;
}
.registerBtn:hover{
  background-color: lightgray;
}