.cupoMaximoForm {
  height: 50%;
  width: 50%;
}

.cupoMaximoRow {
  width: 60%;
  display: flex;
  justify-content: center;
}

.cupoMaximoBtn {
  width: 40%;
}

p {
  font-family: 'Akshar', sans-serif;
  font-weight: bold;
  font-size: 18px;
}