.estadisticaForm {
  height: 70%;
  width: 60%;
}

.estadisticaRow {
  width: 60%;
  display: flex;
  justify-content: center;
}

.estadisticaBtn {
  width: 40%;
}

p, textarea {
  font-family: 'Akshar', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

textarea {
  resize: none;
  border-style: solid;
  border-width: 2px;
  border-color: #aa671d;
}