.realizarReservaForm {
  height: 70%;
  width: 60%;
}

.realizarReservaRow{
  width: 60%;
  display: flex;
}

#realizarReservaCnt {
  width: 30%;
}

.userInfo {
  position: relative;
  bottom: -7%;
  margin: 0 0 0 auto;
}

#realizarReservaBtn {
    margin: 0 auto;
    width: 35%;
}

select, input{
  margin: 0 0 0 auto;
}