.cancelarReservaForm {
  height: 50%;
  width: 60%;
}

.cancelarReservaRow{
  width: 50%;
  display: flex;
}

#cancelarReservaCnt {
  width: 30%;
}

#cancelarReservaBtn {
    margin: 0 auto;
    width: 35%;
}

select, input{
  margin: 0 0 0 auto;
}

p {
  font-family: 'Akshar', sans-serif;
  font-weight: bold;
  font-size: 18px;
}