.realizarReservaForm {
  height: 70%;
  width: 60%;
}

.realizarReservaRow{
  width: 60%;
  display: flex;
}

#realizarReservaCnt {
  width: 30%;
}

#realizarReservaBtn {
    margin: 0 auto;
    width: 35%;
}

select, input{
  margin: 0 0 0 auto;
}

p {
  font-family: 'Akshar', sans-serif;
  font-weight: bold;
  font-size: 18px;
}